<div>
	<h1>{{title}}</h1>
	<label>Nombre de Usuario: </label>
	<input [(ngModel)]="user.username" placeholder="username" class="form-control"><br/><br/>
	<label>Correo: </label>
	<input [(ngModel)]="user.email" placeholder="email" class="form-control"><br/><br/>
	<label>Contraseña: </label>
	<input type="password" [(ngModel)]="user.password" placeholder="contraseña" class="form-control"><br/><br/>
	<label>Cédula: </label>
	<input [(ngModel)]="user.cedula" placeholder="cedula" class="form-control"><br/><br/>
	<label>Nombre: </label>
	<input [(ngModel)]="user.nombre" placeholder="nombre" class="form-control"><br/><br/>
	<label>Apellido: </label>
	<input [(ngModel)]="user.apellido" placeholder="apellido" class="form-control"><br/><br/>
	<button (click)="sendUser()" class="btn btn-primary">Enviar</button>
	<h4>{{response}}</h4>

</div>